// COLOR VARIABLES
$scissors-h: hsl(40, 84%, 43%);
$paper-h: hsl(230, 89%, 55%);
$rock-h: hsl(349, 70%, 46%);
$lizard-h: hsl(261, 72%, 53%);
$spock-h: hsl(189, 58%, 47%);
$scissors-gradient: linear-gradient(
  to right,
  hsl(39, 89%, 49%),
  hsl(40, 84%, 53%)
);
$paper-gradient: linear-gradient(
  to right,
  hsl(230, 89%, 62%),
  hsl(230, 89%, 65%)
);
$rock-gradient: linear-gradient(
  to right,
  hsl(349, 71%, 52%),
  hsl(349, 70%, 56%)
);

$lizard-gradient: linear-gradient(
  to right,
  hsl(261, 73%, 60%),
  hsl(261, 72%, 63%)
);
$spock-gradient: linear-gradient(
  to right,
  hsl(189, 59%, 53%),
  hsl(189, 58%, 57%)
);

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$color-white: hsl(0, 0%, 100%);

$bg-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

$shadow-dark: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

//RESPONSIVE BREAKPOINT
$bp-large-desktop: 112.5em; //1800px
$bp-tab-land: 75em; //1200px
$bp-tab-port: 56.25em; //900px
$bp-phone: 40.625em; //650px
$bp-small-phone: 18.75em; //300px

// BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  @media only screen and (min-width: $bp-large-desktop) {
    font-size: 75%;
  }
  @media only screen and (max-width: $bp-tab-land) {
    font-size: 58.6%;
  }
  @media only screen and (max-width: $bp-tab-port) {
    font-size: 54.6%;
  }
}

body {
  background-image: $bg-gradient;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  color: $color-white;
  text-transform: uppercase;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  font-weight: 600;
}
::selection {
  background-color: $dark-text;
  color: $color-white;
}

// TYPOGRAPHY
// %heading {
//   font-weight: 400;
//   color: $color-text-h;
//   line-height: normal;
// }
// .h-1 {
//   @extend %heading;
//   font-size: 5rem;
//   @media only screen and (max-width: $bp-small-phone) {
//     font-size: 3rem;
//   }
// }
// .h-2 {
//   @extend %heading;
//   font-size: 4rem;
//   @media only screen and (max-width: $bp-small-phone) {
//     font-size: 3rem;
//   }
// }
// .h-3 {
//   @extend %heading;
//   font-size: 3rem;
//   @media only screen and (max-width: $bp-small-phone) {
//     font-size: 2.5rem;
//   }
// }
// .h-4 {
//   @extend %heading;
//   font-size: 2rem;
//   @media only screen and (max-width: $bp-small-phone) {
//     font-size: 1.8rem;
//   }
// }
