.btn {
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 1.6rem;
  font-family: inherit;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding: 1rem;

  &--rules {
    background-color: transparent;
    color: $color-white;
    width: 13rem;
    display: block;
    border: solid 1.5px $color-white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    box-shadow: $shadow-light;
    @media only screen and (max-width: $bp-phone) {
      position: static;
      margin: 20rem auto 2rem auto;
    }
    &:hover {
      background-color: $color-white;
      color: $dark-text;
      // border: solid 2px $rock-h;
    }
  }
  &--again {
    background-color: $color-white;
    color: $dark-text;
    width: 20rem;
    border: none;
    &:hover {
      color: $rock-h;
    }
  }
}
