@mixin object($object) {
  box-shadow: 0 5px 0 darken($object, 15%);
  &:active {
    box-shadow: 0 0 0 darken($object, 15%);
  }
}

.part {
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8rem;
  // &--choose{
  // }
}

.bg-shape {
  height: 17rem;
  width: 20rem;

  &__img {
    height: 100%;
    width: 100%;
  }
}

.icon {
  position: absolute;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  &::before {
    content: "";
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    z-index: 2;
    box-shadow: 0 -5px 0 darken($color-white, 10%);
  }
  &:hover &__img {
    height: 55%;
  }
  &__img {
    position: relative;
    z-index: 3;
    height: 50%;
    transition: height 0.3s ease;
  }

  &--scissors {
    background-image: $scissors-gradient;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    @include object(hsl(39, 89%, 49%));
  }
  &--paper {
    background-image: $paper-gradient;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    @include object(hsl(230, 89%, 62%));
  }
  &--rock {
    background-image: $rock-gradient;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    @include object(hsl(349, 71%, 52%));
  }
}
