.icon {
  position: absolute;
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
  @media only screen and (max-width: $bp-phone) {
    width: 35vw;
    height: 35vw;
  }
  &::before {
    content: "";
    border-radius: 50%;
    height: 75%;
    width: 75%;
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    z-index: 4;
    box-shadow: 0 -0.6rem 0 darken($color-white, 10%);
  }
  &__img {
    position: relative;
    z-index: 4;
    height: 40%;
    transition: height 0.3s ease;
  }

  &--paper {
    background-image: $paper-gradient;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.7rem 0 $paper-h;
    &:active {
      box-shadow: 0 0 0 $paper-h;
      transform: translate(-50%, calc(-50% + 0.7rem));
    }
  }
  &--scissors {
    background-image: $scissors-gradient;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    box-shadow: 0 0.7rem 0 $scissors-h;
    &:active {
      box-shadow: 0 0 0 $scissors-h;
      transform: translate(50%, calc(-50% + 0.7rem));
    }
  }
  &--rock {
    background-image: $rock-gradient;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0 0.7rem 0 $rock-h;
    &:active {
      box-shadow: 0 0 0 $rock-h;
      transform: translate(-50%, calc(50% + 0.7rem));
    }
  }

  // Extendend version icon
  &--lizard {
    background-image: $lizard-gradient;
    bottom: 0;
    left: 0;
    transform: translate(-5%, 50%);
    box-shadow: 0 0.7rem 0 $lizard-h;
    &:active {
      box-shadow: 0 0 0 $lizard-h;
      transform: translate(-5%, calc(50% + 0.7rem));
    }
  }
  &--spock {
    background-image: $spock-gradient;
    top: 10%;
    left: 0;
    transform: translate(-50%, 0);
    box-shadow: 0 0.7rem 0 $spock-h;
    &:active {
      box-shadow: 0 0 0 $spock-h;
      transform: translate(-50%, 0.7rem);
    }
  }

  // winner style
  &__winner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(2.5);
    // visibility: hidden;
    @media only screen and (max-width: $bp-phone) {
      transform: scale(2.1);
    }

    span:first-child,
    span:nth-child(2),
    span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      border-radius: 50%;
      background-color: rgba($color-white, 0.04);
    }
    span:first-child {
      width: 100%;
      height: 100%;
    }
    span:nth-child(2) {
      width: 75%;
      height: 75%;
    }
    span:last-child {
      width: 55%;
      height: 55%;
      @media only screen and (max-width: $bp-phone) {
        width: 60%;
        height: 60%;
      }
    }
  }

  &__under {
    background-color: hsl(214, 47%, 23%);
    width: 95%;
    height: 95%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: $shadow-dark;
  }

  &:hover &__img {
    height: 45%;
  }
}

// icon component large styles
.icon--large {
  position: relative;
  transform: translate(0, 0);
  width: 25rem;
  height: 25rem;
  top: 0;
  left: 0;
  right: 0;
  // visibility: hidden;
  @media only screen and (max-width: $bp-phone) {
    height: 35vw;
    width: 35vw;
  }
  &::before {
    box-shadow: 0 -1rem 0 darken($color-white, 10%);
    @media only screen and (max-width: $bp-phone) {
      box-shadow: 0 -5px 0 darken($color-white, 10%);
    }
  }
  &:active {
    transform: translate(0, 1rem);
    @media only screen and (max-width: $bp-phone) {
      transform: translate(0, 5px);
    }
  }
}

.icon--large.icon--paper {
  box-shadow: 0 1rem 0 $paper-h;
  @media only screen and (max-width: $bp-phone) {
    box-shadow: 0 5px 0 $paper-h;
  }

  &:active {
    box-shadow: 0 0 0 $paper-h;
  }
}
.icon--large.icon--scissors {
  box-shadow: 0 1rem 0 $scissors-h;
  @media only screen and (max-width: $bp-phone) {
    box-shadow: 0 5px 0 $scissors-h;
  }
  &:active {
    box-shadow: 0 0 0 $scissors-h;
  }
}

.icon--large.icon--rock {
  box-shadow: 0 1rem 0 $rock-h;
  @media only screen and (max-width: $bp-phone) {
    box-shadow: 0 5px 0 $rock-h;
  }
  &:active {
    box-shadow: 0 0 0 $rock-h;
  }
}

// extended version modifier
.icon--extended {
  width: 15rem;
  height: 15rem;
  @media only screen and (max-width: $bp-phone) {
    height: 25vw;
    width: 25vw;
  }
}
.icon--extended.icon--paper {
  top: 10%;
  left: 100%;
  transform: translate(-50%, 0);
  &:active {
    transform: translate(-50%, 0.7rem);
  }
}
.icon--extended.icon--scissors {
  top: 0;
  right: 50%;
}
.icon--extended.icon--rock {
  bottom: 0;
  left: 57%;
  transform: translate(0, 50%);
  &:active {
    transform: translate(0, calc(50% + 0.7rem));
  }
}
