.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-row-gap: 4rem;
  height: min-content;
  width: max-content;
  background-color: $color-white;
  padding: 4rem;
  border-radius: 10px;
  align-items: center;
  animation: scaleIn 0.5s ease 0.3s backwards;

  @media only screen and (max-width: $bp-phone) {
    height: 100%;
    width: 100%;
    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    justify-items: center;
    align-content: space-between;
    padding: 5rem 2.5rem;
  }

  &__heading {
    color: $dark-text;
    font-weight: 700;
    font-size: 3rem;
  }
  &__close {
    justify-self: end;
    cursor: pointer;
    @media only screen and (max-width: $bp-phone) {
      grid-row: 3/4;
      justify-self: center;
    }
  }
  &__rules-box {
    grid-column: 1/3;
    justify-self: center;
    @media only screen and (max-width: $bp-phone) {
      grid-column: 1/1;
    }
  }
  &__rules {
    width: 100%;
  }

  // Levels
  &__level-box {
    width: 25rem;
    border-radius: 5px;
    overflow: hidden;
    animation: scaleIn 0.5s ease 0.3s backwards;
  }
  &__level {
    transition: all 0.3s ease;
    color: $dark-text;
    background-color: $color-white;
    padding: 2rem 2rem;
    font-size: 1.6rem;
    &:hover {
      background-color: $score-text;
      color: $color-white;
    }

    &--active {
      background-color: $paper-h;
      color: $color-white;
    }
  }
}

// Animation
// .show {
//   animation: topDown 0.5s ease both;
// }
// .hide {
//   animation: bottomUp 0.5s ease both;
// }
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
// @keyframes bottomUp {
//   0% {
//     transform: translateY(0%);
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(-50%);
//     opacity: 0;
//     display: none;
//   }
// }
