.phase {
  // Playground or choosing phase
  &__play {
    display: inline-block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
  }
  &__bg {
    height: 20rem;
    width: 23rem;
    @media only screen and (max-width: $bp-phone) {
      height: 40vw;
      width: 45vw;
    }
  }
  &__bg-img {
    height: 100%;
    width: 100%;
  }

  // Comparism phase styles
  &__comparism {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    max-width: 100%;
    margin: 0 auto;
    gap: 6rem;
    @media only screen and (max-width: $bp-tab-port) {
      flex-wrap: wrap;
    }
    @media only screen and (max-width: $bp-phone) {
      gap: 5vw;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  &__pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $bp-tab-port) {
      flex-basis: 45%;
    }
    @media only screen and (max-width: $bp-phone) {
      flex-direction: column-reverse;
    }
  }
  &__pick-text {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    text-align: center;
    @media only screen and (max-width: $bp-phone) {
      font-size: 1.8rem;
      margin-top: 5rem;
    }
  }
  &__status {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    transform: translateY(35%);
    position: relative;
    z-index: 6;
    @media only screen and (max-width: $bp-tab-port) {
      order: 1;
    }
  }

  &__status-text {
    font-size: 6rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: $bp-phone) {
      font-size: 5rem;
    }
  }
  &__icon-box {
    position: relative;
    margin-top: 5rem;
    width: 25rem;
    height: 25rem;
    @media only screen and (max-width: $bp-phone) {
      margin-top: 0;
    }
  }
  // &--classic{
  // }
}

.phase--extended {
  .phase {
    // Playground or choose phase for extension
    &__bg {
      height: 30rem;
      width: 33rem;
      @media only screen and (max-width: $bp-phone) {
        height: 47vw;
        width: 50vw;
      }
    }
    &__play {
      margin-top: 7rem;
    }
  }
}
