.phase {
  &__play {
    display: inline-block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
  }
  &__bg {
    height: 20rem;
    width: 23rem;
  }
  &__bg-img {
    height: 100%;
    width: 100%;
  }

  &__comparism {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90rem;
    max-width: 100%;
    margin: 0 auto;
    gap: 6rem;
  }
  &__pick {
    // margin-bottom: ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__pick-text {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 5rem;
  }
  &__status {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    transform: translateY(35%);
  }

  &__status-text {
    font-size: 6rem;
    letter-spacing: 1.5px;
  }

  // &--classic{
  // }
  // &--extendend{
  // }
}
